:root {
  --colorPrimary: #0f172a;
  --colorSecondary: #1e293b;
  --colorAccent: #65a30d;
  --colorLight: #94a3b8;
  --fontBase: 1.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--fontBase);
  font-family: 'Outfit', sans-serif;
  background-color: var(--colorPrimary);
  background-image: url('../assets/dot.svg');
}

a {
  text-decoration: none;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

.info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.info__avatar {
  position: relative;
}

.info__avatar img {
  border-radius: 50%;
  border: 1rem solid var(--colorAccent);
}

.caret-down,
.caret-right {
  stroke: var(--colorAccent);
  fill: var(--colorAccent);
  position: absolute;
  width: 5rem;
  height: auto;
}

.caret-down {
  bottom: -2.5rem;
  right: 4.8rem;
}

.caret-right {
  display: none;
}

.info__data {
  margin: 3rem 1.5rem 0 1.5rem;
  background-color: var(--colorSecondary);
  color: var(--colorLight);
  border-radius: 2rem;
  padding: 2rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 25px 50px -12px rgba(0, 0, 0, 0.5);
}

.info__data h1 {
  font-size: calc(var(--fontBase) * 2.2);
  margin-bottom: 3rem;
  line-height: 4rem;
  color: var(--colorAccent);
  font-weight: bold;
}

.info__data p {
  text-align: left;
  line-height: 3rem;
}

.info__data p strong {
  color: #cbd5e1;
}

.info__data-rrss {
  margin-top: 3rem;
}

.info__data-rrss svg {
  stroke: var(--colorLight);
  margin: 0 1.5rem;
  width: 4rem;
  height: auto;
  transition: all 0.3s;
}

.info__data-rrss svg:hover {
  stroke: var(--colorAccent);
}

@media (min-width: 768px) {
  .info {
    flex-direction: row;
  }

  .caret-down {
    display: none;
  }

  .caret-right {
    display: block;
    bottom: 5.1rem;
    right: -2.9rem;
  }

  .info__data {
    margin: 0 0 0 3rem;
    width: 60%;
    padding: 2.5rem;
  }
}
