:root {
  --text-xm: 1.2rem;
  --text-sm: 1.5rem;
  --text-base: 1.8rem;
  --text-lg: 2.8rem;
  --text-xl: 3.8rem;
  --text-color-base: #1f2937;
  --text-color-secondary: #f9fafb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: var(--text-base);
  color: var(--text-color-base);
}

header,
.container,
.presentation_info,
footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem auto;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav li {
  margin: 0 1rem;
}

header nav ul li img {
  width: 3rem;
}

/* MAIN */
h1 {
  font-size: var(--text-xl);
  margin: 1.5rem 0;
}

h2 {
  font-size: var(--text-lg);
  margin-bottom: 3rem;
}

p {
  line-height: 3rem;
}

.presentation {
  background-color: purple;
  padding: 0 2rem;
}

.presentation_info {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0;
}

.presentation_info_avatar {
  width: 100%;
  text-align: center;
}

.presentation_info_avatar img {
  width: 20rem;
  border-radius: 50%;
}

.presentation_text {
  color: var(--text-color-secondary);
}

.enabled,
.disabled,
.proyect {
  margin: 5rem 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  /* grid-auto-rows: 22rem; */
  gap: 4rem;
  /* row-gap: 2rem; */
}

.card {
  border: 1px solid var(--text-color-base);
  border-radius: 1.5rem;
  overflow: hidden;
}

.card img {
  width: 100%;
  /* object-fit: contain; */
}

.card-info {
  padding: 1.5rem;
}

.card-stack {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.card-stack span {
  font-size: var(--text-xm);
  border-radius: 1.5rem;
  background-color: wheat;
  padding: 0 0.5rem;
  margin: 0.5rem 0.5rem 0 0;
}

/* FOOTER */
footer {
  font-size: var(--text-sm);
  margin: 5rem auto;
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    margin-top: 0;
  }

  .presentation_info {
    flex-direction: row;
  }

  .presentation_text {
    margin-left: 4rem;
  }
}
