footer {
  background-color: var(--color-bg-strong);

  .container {
    @extend .container-base;
    font-size: var(--text-base);
    padding-bottom: 4rem;
    padding-top: 8rem;
    text-align: center;
    color: var(--color-text);

    p,
    span {
      line-height: 3rem;
    }

    .version {
      margin-top: 1.5rem;
      font-size: var(--text-xm);
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}
