footer {
  background-image: linear-gradient(to top, var(--color5), var(--color6));
  font-size: var(--text-base);
  padding: 5rem 0;
  text-align: center;

  p,
  span {
    line-height: 3rem;
  }

  span {
    font-weight: 700;
  }
}
