header {
  background-color: var(--color-bg-strong);

  h3 {
    color: var(--color-text-strong);
  }

  .container {
    @extend .container-base;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;

    nav {
      ul {
        list-style: none;
        display: flex;

        li {
          margin: 0 0.5rem;
          cursor: pointer;

          svg {
            stroke: var(--color-text);
            transition: var(--transition);

            &:hover {
              stroke: var(--color-text-light);
            }
          }
        }
      }
    }
  }
}
