:root {
  --text-xm: 1.2rem;
  --text-sm: 1.5rem;
  --text-base: 1.8rem;
  --text-lg: 2.8rem;
  --text-xl: 3.8rem;
  --color-principal: #2e4c6d;
  --color-secondary: #396eb0;
  --color-alt: #daddfc;
  --color-aux: #fc997c;
  --bg-color: #fff;
  --transition: 0.2s all;
}

:root body.dark-mode {
  --color-principal: #222831;
  --color-secondary: #ffd369;
  --bg-color: #393e46;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: var(--text-base);
  color: var(--color-principal);
  background-color: var(--bg-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

header,
.container-card,
.presentation_info,
footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem auto;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin: 0 0.5rem;
  cursor: pointer;
}

header nav ul li svg {
  stroke: var(--color-principal);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

header nav ul li svg:hover {
  stroke: var(--color-secondary);
}

h1 {
  font-size: var(--text-xl);
  margin: 1.5rem 0;
}

h2 {
  font-size: var(--text-lg);
  margin-bottom: 3rem;
}

p {
  line-height: 3rem;
}

.presentation {
  background-color: var(--color-principal);
  padding: 0 2rem;
  position: relative;
}

.presentation_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 0;
}

.presentation_info_avatar {
  width: 100%;
  text-align: center;
}

.presentation_info_avatar img {
  width: 20rem;
  border-radius: 50%;
}

.presentation_text {
  color: var(--color-alt);
}

.presentation_text h1 {
  color: var(--color-aux);
}

.custom-shape-divider-top {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 40px;
}

.custom-shape-divider-top .shape-fill {
  fill: var(--color-principal);
}

.disabled,
.proyect {
  margin: 5rem 0;
}

.enabled {
  margin: 10rem 0 5rem 0;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(28rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  gap: 4rem;
}

.card {
  border-radius: 1.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
          box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card img {
  width: 100%;
}

.card-info {
  padding: 1.5rem;
}

.card-stack {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-stack span {
  font-size: var(--text-xm);
  border-radius: 1.5rem;
  background-color: var(--color-alt);
  padding: 0 0.5rem;
  margin: 0.5rem 0.5rem 0 0;
}

footer {
  font-size: var(--text-sm);
  margin: 5rem auto;
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    margin-top: 0;
  }
  .presentation_info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .presentation_text {
    margin-left: 4rem;
  }
  .enabled {
    margin-top: 12rem;
  }
  .custom-shape-divider-top svg {
    height: 80px;
  }
}
/*# sourceMappingURL=style.css.map */