:root {
  --text-xm: 1.2rem;
  --text-sm: 1.5rem;
  --text-base: 1.8rem;
  --text-lg: 2.8rem;
  --text-xl: 3.8rem;
  --color-one: #1d3557;
  --color-two: #457b9d;
  --color-three: #a8dadc;
  --color-four: #f1faee;
  --color-five: #e63946;
  --transition: 0.2s all;
}

:root body.dark-mode {
  --bgColor: #191919;
  --bgColorAlt: #2d4263;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  font-size: var(--text-base);
  color: var(--color-one);
  background-color: var(--bgColor);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

header,
.container-card,
.presentation_info,
footer {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem auto;
  background-color: var(--bgColorAlt);
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin: 0 0.5rem;
  cursor: pointer;
}

header nav ul li svg {
  stroke: var(--color-one);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

header nav ul li svg:hover {
  stroke: var(--color-five);
}

h1 {
  font-size: var(--text-xl);
  margin: 1.5rem 0;
}

h2 {
  font-size: var(--text-lg);
  margin-bottom: 3rem;
}

p {
  line-height: 3rem;
}

.presentation {
  background-color: var(--bgColorAlt);
  padding: 0 2rem;
  position: relative;
}

.presentation_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5rem 0;
}

.presentation_info_avatar {
  width: 100%;
  text-align: center;
}

.presentation_info_avatar img {
  width: 20rem;
  border-radius: 50%;
}

.presentation_text {
  color: var(--color-four);
}

.presentation_text h1 {
  color: var(--color-five);
}

.wave {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(119% + 1.3px);
  height: 5rem;
}

.wave .shape-fill {
  fill: var(--bgColorAlt);
}

.disabled,
.proyect {
  margin: 5rem 0;
}

.enabled {
  margin: 10rem 0 5rem 0;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(28rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  gap: 4rem;
}

.card {
  background-color: var(--color-four);
  border-radius: 1.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
          box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.card .card-image {
  position: relative;
}

.card .card-image img {
  height: 18rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card-image .card-links {
  position: absolute;
  right: 0.5rem;
  top: 13.5rem;
  background-color: var(--color-five);
  border-radius: 1rem;
}

.card .card-image .card-links a {
  text-decoration: none;
}

.card .card-image .card-links a svg {
  margin: 0.3rem 0.3rem 0.1rem 0.3rem;
  stroke: white;
}

.card .card-info {
  padding: 1.5rem;
}

.card .card-stack {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card .card-stack span {
  font-size: var(--text-xm);
  border-radius: 1.5rem;
  background-color: var(--color-three);
  padding: 0 0.5rem;
  margin: 0.5rem 0.5rem 0 0;
}

.container-stack-tech {
  background: var(--color-two);
}

.wave-stack-tech {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave-stack-tech svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 5rem;
}

.wave-stack-tech .shape-fill {
  fill: var(--color-three);
}

footer {
  font-size: var(--text-sm);
  margin: 5rem auto;
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    margin-top: 0;
  }
  .presentation_info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .presentation_text {
    margin-left: 4rem;
  }
  .enabled {
    margin-top: 12rem;
  }
  .wave svg,
  .wave-stack-tech svg {
    height: 10rem;
  }
}
/*# sourceMappingURL=style.css.map */