:root {
  --text-xm: 1.2rem;
  --text-sm: 1.5rem;
  --text-base: 1.8rem;
  --text-lg: 2.8rem;
  --text-xl: 4.5rem;
  --color-text: #dac3e8;
  --color-text-light: #f3f4f6;
  --color-text-strong: #fff;
  --color-text-dark: #6b7280;
  --color-text-dark-strong: #374151;
  --color-subtitle: #6247aa;
  --color-bg: #f3f4f6;
  --color-bg-light: #815ac0;
  --color-bg-strong: #6247aa;
  --color-card-bg: #fff;
  --color-card-bg-light: #f3f4f6;
  --color-card-text-link: #fff;
  --transition: 0.25s all;
}

:root body.dark-mode {
  --color-text: #9ca3af;
  --color-text-light: #d1d5db;
  --color-text-strong: #d1d5db;
  --color-text-dark: #9ca3af;
  --color-text-dark-strong: #d1d5db;
  --color-subtitle: #0062a3;
  --color-bg: #00253e;
  --color-bg-light: #00406c;
  --color-bg-strong: #002e4e;
  --color-card-bg: #001a2c;
  --color-card-bg-light: #00253e;
  --color-card-text-link: #fff;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/Outfit-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/Outfit-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  transition: var(--transition);
  font-size: var(--text-base);
  background-color: var(--color-bg);
}

.container-base {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}
